{% extends 'auto_api/base.html' %}
{% block content %}
    <div class="post">
        {% if post.publish %}
            <div class="date">
                 {#显示博客发布日期#}
                {{ post.publish }}
            </div>
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {#显示博客标题#}
            <h1>{{ post.title }}</h1>
            {#显示博客内容,|linebreaksbr 空行#}
            <p>{{ post.body|linebreaksbr }}</p>
        {% endif %}


    </div>

{% endblock content %}
